.search-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .search-input {
    flex: 1;
    padding: 0.62rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: 4px 0 0 4px;
    font-size: 1rem;
    background-color: var(--input-bg);
    color: var(--text-color);
  }
  
  .search-input:focus {
    outline: none;
    border-color: var(--primary-color);
  }
  
  .search-button {
    padding: 0.8rem 1.2rem;
    background-color: #F59E0B;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .search-button:hover {
    background-color: var(--primary-hover);
  }
  
  :root {
    --primary-color: #e50914;
    --primary-hover: #f40612;
    --text-color: #333;
    --secondary-text-color: #777;
    --border-color: #ddd;
    --input-bg: #fff;
    --scrollbar-track: #f1f1f1;
    --scrollbar-thumb: #888;
    --scrollbar-thumb-hover: #555;
  }
  
  .dark-mode {
    --text-color: #f5f5f5;
    --secondary-text-color: #aaa;
    --border-color: #444;
    --input-bg: #333;
    --scrollbar-track: #2a2a2a;
    --scrollbar-thumb: #555;
    --scrollbar-thumb-hover: #777;
  }